@media(max-width:1450px){
    .container{
        padding: 0 10px;
    }
}
@media(max-width:850px){
    .nav {
        background: #fff;
        position: absolute;
        height: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .burger{
        display: block;
        width: 60px;
        height: 40px;
        background: url(../img/burger.svg) no-repeat center;
    }
}
@media(max-width:){}
@media(max-width:){}
@media(max-width:){}
@media(max-width:){}